.main{
  overflow: hidden;
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}

.Table {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: auto;
}

.Table .Prosumer {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.Table .Prosumer h4 {
  border-bottom: 1px solid green;
}

.Table .Consumer {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.Table .Consumer h4 {
  border-bottom: 1px solid red;
}

.options{
  margin: auto;
  padding: 1%;
  border-radius: 5px;
  background-color: azure;
}